<div class="group cursor-pointer">
  <div class="relative overflow-hidden rounded-sm mb-6" (click)="goToProject()">
    <img
      [src]="showCase().imageUrl"
      [alt]="showCase().name"
      loading="lazy"
      class="w-full h-80 object-cover group-hover:scale-110 group-hover:brightness-50 transition-all duration-700"
    />
    <div
      class="absolute bottom-6 left-6 text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300"
    >
      <h4 class="text-xl font-light mb-2">{{ showCase().name }}</h4>
      <p class="text-sm font-light">{{ showCase().description }}</p>
    </div>
  </div>
</div>
