<footer class="bg-white gap-4 flex flex-col items-center text-center">
  <div
    class="container-responsive flex flex-col md:flex-row justify-between items-start md:items-center py-10 align-top text"
  >
    <div class="flex flex-col gap-2 items-start align-top">
      <app-label [text]="'Studio Arkhi'"></app-label>
      <a href="https://instagram.com/studioarkhi" target="_blank">
        <i class="fa-brands fa-instagram"></i>
        studioarkhi</a
      >
      <a href="https://tiktok.com/@studioarkhi" target="_blank">
        <i class="fa-brands fa-tiktok"></i>
        @studioarkhi</a
      >
      <a href="mailto:studioarkhi@example.com" target="_blank">
        <i class="fa-solid fa-envelope"></i>
        studioarkhi@example.com</a
      >
    </div>
    <div class="flex flex-col gap-2 items-start align-top">
      <app-label [text]="'Conheça nossos projetos'"></app-label>
      <a class="cursor-pointer" (click)="goToProjectsByType(ProjectType.INTERIORES)">
        Projetos Interiores</a
      >
      <a class="cursor-pointer" (click)="goToProjectsByType(ProjectType.RESIDENCIAL)">
        Projetos Residenciais</a
      >
      <a class="cursor-pointer" (click)="goToProjectsByType(ProjectType.COMERCIAL)">
        Projetos Comerciais</a
      >
    </div>
  </div>
  <app-label
    [text]="'© ' + year + ' - Studio Arkhi. Todos os direitos reservados.'"
    [type]="'detail'"
    class="mb-4"
  ></app-label>
</footer>
